/* 
    Created on : 06/01/2014, 15:21:49
    Author     : André
*/

/*************************** primefaces theme *********************************/
.ui-widget {
    font-size: 90%!important;
}

.ui-selectonemenu {
    width: 100%!important;
}

.ui-selectonemenu-label {
    width: 100%!important;
}

/*************************** reqweb generic ***********************************/

html {
    background: #dfdfdf;
}

body {
    font-size: 90%!important;
    font-family: "Lucida Grande", lucida, "Helvetica CE", sans-serif!important;    
    color: #000000;
}

.squareBorders {
    border-radius: 0!important;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.alignCenter {
    text-align: center;
}

.addedItem {
    color: green;
}

.removedItem {
    color: red;
}

.hiddenItem {
    visibility: hidden;
}

.visibleItem {
    visibility: visible;
}

.messages {
    list-style: none;
    color: #ff0000;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
}

label {
    color: #2e3192;
    font-weight: bold;
}

input[type=submit] {
    font-weight: bold;
    color: #fff;
    background: #7fcdee;
    border-color: #ccffff;
    border-width: 1px;
    height: 2em;
}

input[type=text], input[type=password], select {
    border: 1px solid #999;
    color: #333;
    width: 100%;
}

/*********************************** header ***********************************/
#header {
    position: absolute;
    width: auto;
    height: 70px;
    top: 0;
    right: 0;
    bottom: auto;
    left: 0;
    background: #ccc;
}
#header table {
    width: 100%;
}
#header tr {
    border: none;
}


#header form {
    height: 100%;
    background: none;
}

#header div {
    float: left;
    display: inline;
}

.headerLogo {
    vertical-align: middle;
    margin-right: 4px;
    width: auto;
    height: 32px;
}

.widgetLocale {
    height: auto!important;
    float: right;
    display: inline;
}

.widgetLocale label {
    color: #aaa;
    font-weight: normal;
}

.widgetLocale select  {
    width: auto!important;
    font-size: 80%;
    color: #eee;
    background: #555;
    border: 1px solid #555;
}


.headerColA {
    color: white;
    font-size: 14pt;
    width: 60%;
    background-color: #555;
    border: none;
    border-width: 0!important;
    border-style: none;
}

.headerColB {
    width: 40%;
    background-color: #999;
    border-width: 0!important;
    border-style: none;
    alignment-adjust: central;
    padding: 0!important;
}

.headerCommand {
    margin: 0;
    width: 100%;
    height: 70px;
}


.headerCommandA {
    background-color: #999;
    width: 10%;
    min-width: 48px;
    text-align: center;
    border: none;
    border-width: 0!important;
    border-style: none;    

}

.headerCommandB {
    color: #fff;
    background-color: #999;
    border: none;
    border-width: 0!important;
    border-style: none;    
    width: 80%;
    text-align: right;
}

.headerCommandC {
    background-color: #b3b3b3;    
    border: none;
    border-width: 0!important;
    border-style: none;    
    text-align: center;
    width: 10%;
    min-width: 48px;
}

.headerIcon {
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 48px;
    height: 48px;
    color: #2eabe2!important;
    font-weight: bold!important;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;    
    display: table-cell;
}

.headerIcon:hover {
    background-position: 0 -48px;
}
/*********************************** menu *************************************/
#menu {
    position: absolute;
    top: 72px;
    right: auto;
    bottom: 34px;
    left: 0;
    width: 224px;
    background: #555;
}

.menuTop {
    width: 100%;
    height: 24px;
    padding-top: 6px;
    margin: 0;
    background: #1f80aa;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
    display: block;
    vertical-align: middle;
    text-align: center;
}

.menuContainerLogo{
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.menuItens {
    margin-top: 8px;
    margin-left: 8px;
    width: 212px;
}

.menuItens a {
    width: 100%;
    height: 32px;
    color: #fff;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: 36px;
    display: table-cell;  
    width: 200px;
    vertical-align: middle;
}

.menuItens a:hover {
    color: #a5d0ff;
    text-decoration: none;
    background-position: 0 -32px;
}

.menuItemSelected {
    color: #a5d0ff!important;
    text-decoration: none;
    background-position: 0 -32px!important;
}

/*********************************** content **********************************/
#content {
    position: absolute;
    width: auto;
    height: auto;
    top: 72px;
    right: 0;
    bottom: 34px;    
    left: 226px;
    background: #bdccd4;
}

/****************************** content elements ******************************/
.loginLayout {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.loginLayoutColumnA {
    width: 30%;
}

.loginLayoutColumnB {
    width: 70%;
    text-align: left;
}

#loginForm {
    width: 20em;
    height: 25em;
    background: #eee;
    margin-top: 3em;
    margin-left: 3em;
    border: #aaa 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.loginPageText {
    float: left;
    color: white;
    line-height: 60%;
    text-align: center;
}
.loginPageText p:first-child {
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 4pt;
}

.loginPageText p:last-child {
    font-size: 20pt;
    position: relative;
    top: -1em;
}

.loginFormTitle {
    height: 48px;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 1em;
    background: #b3b3b3;
    color: #fff;

}

#loginForm table:nth-child(n+3) {
    margin-left: 1em;
}

#loginForm input, select {
    width: 16em;
}

#loginForm input[type=submit] {
    float: right;
    width: 12em;
    margin-right: 0.4em;
}


.loginMessage {
    list-style: none;
    color: #ff0000;
    font-weight: bold;
    text-align: center;
    padding-left: 8px;
    background: bisque;
    height: 3em;
    width: 20em;
    display: table-cell;
    vertical-align: middle;
    position: relative;
    top: 40px;
}

/********************************** home **************************************/
.homePageText {
    width: 100%;
    margin-top: 15%;
    height: auto;
    alignment-adjust: middle;
    color: white;
    line-height: 60%;
    text-align: center;
}
.homePageText p:first-child {
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 4pt;
}

.homePageText p:last-child {
    font-size: 20pt;
    position: relative;
    top: -1em;
}

#contentError p:last-child {
    font-size: 12pt;
    font-weight: normal;
    color: red;
}

.contentTables {
    margin: 10px;
}


/********************************** cursos ************************************/
.cursoColNome {
    width: 80%;
}

.cursoColSigla {
    width: 20%;
}

.cursoToobar {
    width: 100%;
    height: 32px;
    margin-bottom: 4px;
}

.cursoToobar input[type=submit] {
    width: 108px;
    margin-left: 4px;
    margin-right: 4px;
} 
/************************************* periodo ********************************/
.periodoColAno {
    width: 10%;
    text-align: center;
}

.periodoColSemestre {
    width: 30%;
    text-align: center;
}

.periodoColPeriodo {
    width: 30%;
    text-align: center;
}

.calendarWidget {
    width: auto;
}

/********************************* arquivos ***********************************/
.arquivoToolbar {
    margin: 8px;
}

.arquivoToolbarWidgets {
    margin-left: 2px;
    margin-right: 2px;
}

.iconPreview {
    margin-left: 4px;
    margin-right: 4px;
}

.rowPreview {
    color: green;
}

.eyeGlassIcon {
    background-image: url("#{resource['img/search.png']}")!important;
    background-position-y: 3px;
    background-repeat: no-repeat;
}

/********************************* disciplinas ********************************/
.disciplinaCodigo {
    width: 20%!important;
}

.disciplinaColA {
    width: 5%;
}

.disciplinaColB {
    width: 50%;
}

.disciplinaColC {
    width: 45%;
}

/************************************ turmas **********************************/
.turmaColA {
    width: 10%;
}
.turmaColB {
    width: 40%;
}
.turmaColC {
    width: 30%;
}

.turmaColD {
    width: 20%;
}

/************************************ indice de prioridade ********************/
.indicePrioridadeColA {
    width: 10%;
}
.indicePrioridadeColB {
    width: 40%;
}

.indicePrioridadeColC {
    width: 30%;
}

.indicePrioridadeColD {
    text-align: right;
    text-indent: 5%;
    width: 20%;
}

.excluiMsgBoxSelection {
    border: 1px solid grey;
    width: 100%;
    height: 5em;
    overflow: auto;
    overflow-x: hidden;
}

.excluiMsgBoxSelection ul {
    list-style: none;
    margin: 3px;
    text-align: left;
    padding: 4px;   
}


/********************************* usuarios ***********************************/
.usuarioColLogin {
    width: 20%;
    text-align: left;
}

.usuarioColMatricula {
    width: 20%;
    text-align: left;
}

.usuarioColNome {
    width: 60%;
    text-align: left;
}

.progressbar {
    width: 100%;
}

.progressbarColA {
    width: 92%;
}

.progressbarColB {
    width: 8%;
}
/************************************ forms ***********************************/
.formBody {
    position: absolute;
    top: 64px;
    right: 8px;
    bottom: 8px;
    left: 8px;
    width: auto;
    height: auto;
    background: #eee;
    padding: 2%;
    border: #aaa 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.formGrid {
    width: 100%;
}

.formGrid tr {
    border: none!important;
}

.formGrid td {
    border: none!important;
    background: none!important;
}

.formGridColA {
    width: 40%;
}

.formGridColB {
    width: 60%;
}

.formTitle {
    height: 48px;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 1em;
    background: #b3b3b3;
    color: #fff;
}

.formToolbar {
    margin-bottom: 6px;
    padding: 4px;
    background-color: #e5e5e5;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    border: 1px solid #ccc;
}

.formToolbarButtons {
    margin-left: 2px!important;
    margin-right: 2px!important;
}
.confirmDialogButtons {
    margin-top: 20px;
}

.formToolbarLabel {
    color: #2e3192;
    font-weight: bold;
    display: inline-block;
    margin-left: 4px;
    margin-right: 4px;
}
.confirmDialogButtons button:first-child {
    color: #2e3192!important;
    margin-right: 8px;
}

.confirmDialogButtons button:last-child {
    color: #ff0000!important;
    margin-left: 8px;
}

.formFooterButtons {
    position: absolute;
    bottom: 20px;
    left: 10px;
    right: 10px;
}

.formFooterButtons button:first-child {
    color: #2e3192!important;
    margin-right: 8px;
}

.formFooterButtons button:last-child {
    color: #ff0000!important;
    margin-left: 8px;
}

.autoComplete input {
    float: right;
    width: 20%!important;
    margin-left: 4px;
    padding-right: 20px!important;
    background-image: url("#{resource['img/filter.png']}")!important;    
    background-repeat: no-repeat!important;
    background-position: 99% 50%!important;    
}

.searchBox {
    width: 20%!important;
    float: right;
    background-image: url("#{resource['img/search.png']}")!important;
    padding-right: 20px!important;
    background-repeat: no-repeat!important;
    background-position: 99% 50%!important;
}

.confirm {
    color: #2e3192!important;
    margin-right: 8px;    
}

.cancel {
    color: #ff0000!important;
    margin-left: 8px;
}
/*********************************** perfil ***********************************/
.perfilGrid {
    width: 100%;
    border: 1px solid #ccc;
    border-collapse: collapse;
    text-align: left;
    margin-top: 8px;
}

.perfilGrid td, th {
    padding-left: 0!important;
    padding-right: 0!important;
}

.perfilGrid tr:nth-child(odd) {
    background: #dcdcdc;
}

.perfilGrid tr:nth-child(even) {
    background: #efefef;
}

.perfilTitle {
    text-align: center;
}

.perfilColA {
    width: 40%;
}

.perfilColB {
    width: 55%;
}

.perfilColC {
    width: 5%;
}

/*********************************** footer ***********************************/
#footer {
    position: absolute;
    width: auto;
    height: 16px;
    top: auto;
    right: 0;
    bottom: 0;
    left: 0;
    padding-top: 8px;
    padding-bottom: 8px;
    display: table-cell;
    background: #bdccd4;
}

.footerColA {
    color: #333;
    float: left;
    width: 80%;
    padding-left: 10%;
    text-align: center;
}

.footerColB {
    color: #ff0000;
    font-weight: bold;
    float: right;
    width: 10%;
    text-align: right;
}

.footerColB img {
    margin-right: 16px;
}
