/* primefaces theme */
.ui-widget {
    font-size: 90%!important;
    font-family: "Lucida Grande", lucida, "Helvetica CE", sans-serif;    
}

.ui-layout-unit-content{
    visibility: hidden;
    padding:0!important;
}

/*-------- reqweb styles -------------*/
html {
    background: #d4eef9;
}

body {
    background-color: #fff;
    font-size: 12pt;
    color: #000;
    border: 1px solid #aaa;
    -webkit-box-shadow: 2px 2px 8px #444;
    -moz-box-shadow: 2px 2px 8px #444;
    box-shadow: 2px 2px 8px #444;
}

#content {
    margin: 0;
    width: auto;
    height: auto;
    padding: 0;
}

.squareBorders {
    border-radius: 0!important;
}

.alignLeft {
    float: left;
}

.alignRight {
    float: right;
}

.alignCenter {
    text-align: center;
}

.messages {
    list-style: none;
    color: #ff0000;
    font-weight: bold;
    text-align: left;
    padding-left: 8px;
}

label {
    color: #2e3192;
    font-size: 12pt;
    font-weight: bold;
}

input[type=submit] {
    font-weight: bold;
    color: #fff;
    background: #7fcdee;
    border-color: #ccffff;
    border-width: 1px;
    height: 2em;
}

input[type=text], input[type=password], select {
    border: 1px solid #999;
    color: #333;
    width: 100%;
}

.separator {
    border-width: thin;
    border-style: solid;
    border-color: #999;
    margin-top: 2%;
    margin-bottom: 2%;
}

/*---------- header ------------------*/
.headerContainer {
    padding:0!important;
    border:none;
}

.header {
    width: 100%;
    margin: 0;
    border:none;
    border-collapse: collapse;
    padding: 0!important;
    height: 100%;
}

.header tr {
    border: none;
}


.header form {
    height: 100%;
    background: none;
}

.header div {
    float: left;
    display: inline;
}

.headerLogo {
    vertical-align: middle;
    margin-right: 4px;
    width: auto;
    height: 32px;
}

.widgetLocale {
    height: auto!important;
    float: right;
    display: inline;
}

.widgetLocale label {
    color: #aaa;
    font-weight: normal;
}

.widgetLocale select  {
    width: auto!important;
    font-size: 80%;
    color: #eee;
    background: #777;
    border: 1px solid #777;
}


.headerColA {
    color: white;
    font-size: 14pt;
    width: 60%;
    background-color: #666;
    border: none;
    border-width: 0!important;
    border-style: none;
}

.headerColB {
    width: 40%;
    background-color: #999;
    border-width: 0!important;
    border-style: none;
    alignment-adjust: central;
    padding: 0!important;
}

.headerCommand {
    margin: 0;
    width: 100%;
    height: 70px;
}


.headerCommandA {
    background-color: #999;
    width: 10%;
    min-width: 48px;
    text-align: center;
    border: none;
    border-width: 0!important;
    border-style: none;    

}

.headerCommandB {
    color: #fff;
    background-color: #999;
    border: none;
    border-width: 0!important;
    border-style: none;    
    width: 80%;
    text-align: right;
}

.headerCommandC {
    background-color: #b3b3b3;    
    border: none;
    border-width: 0!important;
    border-style: none;    
    text-align: center;
    width: 10%;
    min-width: 48px;
}

.headerIcon {
    background-repeat: no-repeat;
    background-position: 0 0;
    width: 48px;
    height: 48px;
    color: #2eabe2!important;
    font-weight: bold!important;
    text-decoration: none;
    text-align: center;
    vertical-align: bottom;    
    display: table-cell;
}

.headerIcon:hover {
    background-position: 0 -48px;
}
/*---------- content ------------------*/
.container {
    padding:0!important;
    border:none;
}

.menuContainer {
    border: none;
    padding: 0;
}

.menuContainer > div:first-child{
    border: none;
    border-radius: 0 0 16px 0;
    background: #666;
}

.menuContainerLogo{
    display: block;
    margin-top: 3em;
    margin-left: auto;
    margin-right: auto;
}

.menuTop {
    width: 100%;
    height: 24px;
    padding-top: 6px;
    margin: 0;
    background: #1f80aa;
    color: #fff;
    font-weight: bold;
    font-size: 12pt;
    display: block;
    vertical-align: middle;
    text-align: center;
}

/*********** menu itens **************************/
.menuItens {
    margin-top: 8px;
    margin-left: 8px;
    width: 212px;
}

.menuItens a {
    width: 100%;
    height: 32px;
    color: #fff;
    text-decoration: none;
    background-position: 0 0;
    background-repeat: no-repeat;
    text-indent: 36px;
    display: table-cell;  
    width: 200px;
    vertical-align: middle;
}

.menuItens a:hover {
    color: #ffff00;
    text-decoration: none;
    background-position: 0 -32px;
}

.menuItemSelected {
    color: #ffff00!important;
    text-decoration: none;
    background-position: 0 -32px!important;
}

/*---------- contentContainer ------------------*/
.contentContainer {
    padding: 0;
}

.contentContainer > div:first-child {
    background: #bdccd4;
    padding: 0;
}

/*---------- footer ------------------*/
.footer {
    display: block;
    width: 100%;
    width: 100%;
    background: #bdccd4;
}

.footer div {
    position: relative;
    background: #bdccd4;

}

.footerColA {
    color: #333;
    float: left;
    width: 80%;
    padding-left: 10%;
    text-align: center;
}

.footerColB {
    color: #ff0000;
    font-weight: bold;
    float: right;
    width: 10%;
    text-align: right;
}

.footerColB img {
    margin-right: 16px;
}


/*---------- login ------------------*/
.loginLayout {
    width: 100%;
    border: none;
    border-collapse: collapse;
}

.loginLayoutColumnA {
    width: 30%;
}

.loginLayoutColumnB {
    width: 70%;
    text-align: left;
}

#loginForm {
    width: 20em;
    height: 25em;
    background: #eee;
    margin-top: 3em;
    margin-left: 3em;
    border: #aaa 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.loginPageText {
    float: left;
    color: white;
    line-height: 60%;
    text-align: center;
}
.loginPageText p:first-child {
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 4pt;
}

.loginPageText p:last-child {
    font-size: 20pt;
    position: relative;
    top: -1em;
}

.loginFormTitle {
    height: 48px;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 1em;
    background: #b3b3b3;
    color: #fff;

}

#loginForm table:nth-child(n+3) {
    margin-left: 1em;
}

#loginForm input, select {
    width: 16em;
}

#loginForm input[type=submit] {
    float: right;
    width: 12em;
    margin-right: 0.4em;
}

/************** home *************************/
.homePageText {
    width: 100%;
    margin-top: 15%;
    height: auto;
    alignment-adjust: middle;
    color: white;
    line-height: 60%;
    text-align: center;
}
.homePageText p:first-child {
    font-size: 60pt;
    font-weight: bold;
    letter-spacing: 4pt;
}

.homePageText p:last-child {
    font-size: 20pt;
    position: relative;
    top: -1em;
}

#contentError p:last-child {
    font-size: 12pt;
    font-weight: normal;
    color: red;
}

.contentTables {
    margin: 10px;
}


/********************** cursos *********************/
.cursoColNome {
    width: 70%;
}

.cursoColMatriz {
    width: 20%;
}
.cursoColSigla {
    width: 10%;
}

.cursoToobar {
    width: 100%;
    height: 32px;
    margin-bottom: 4px;
}

.cursoToobar input[type=submit] {
    width: 108px;
    margin-left: 4px;
    margin-right: 4px;
} 
/************************ periodo **********************************************/
.periodoColAno {
    width: 10%;
    text-align: center;
}

.periodoColSemestre {
    width: 30%;
    text-align: center;
}

.periodoColPeriodo {
    width: 30%;
    text-align: center;
}

.periodoSelect {
    width: 100%!important;
}

/************************ usuarios*********************************************/
.usuarioColLogin {
    width: 20%;
    text-align: center;
}

.usuarioColNome {
    width: 80%;
    text-align: center;
}
/************************ forms ***********************************************/
.formBody {
    height: auto;
    background: #eee;
    margin-left: 1%;
    margin-right: 1%;
    padding: 2%;
    border: #aaa 1px solid;
    -webkit-border-radius: 2px;
    -moz-border-radius: 2px;
    border-radius: 2px;
}

.formGrid {
    width: 100%;
}

.formGrid td {
    border: none!important;
    background: none!important;
}

.formGridColA {
    width: 50%;
}

.formGridColB {
    width: 50%;
}

.formTitle {
    height: 48px;
    padding-top: 16px;
    text-align: center;
    font-weight: bold;
    font-size: 18pt;
    margin-top: 0;
    margin-bottom: 1em;
    background: #b3b3b3;
    color: #fff;
}

.formFooterButtons {
    margin: 10% 0 10% 0;
}

.formFooterButtons button:first-child {
    color: blue;
    margin-right: 8px;
}

.formFooterButtons button:last-child {
    color: red;
    margin-left: 8px;
}

.searchBox {
    width: 20%!important;
    float: right;
    background-image: url("#{resource['img/search.png']}")!important;
    padding-right: 20px!important;
    background-repeat: no-repeat!important;
    background-position: 99% 50%!important;
}

